body{
    margin: 0;
    padding: 0;
    font-family: poppins;
    }
    header{
        overflow: hidden;
        height: 100vh;
            }
    .back-video{
        position: absolute;
        right: 0;
        bottom: 0;
        min-height: 100%;
        min-width: 100%;
        }
    .nav-bar{
        background: rgba(0,0,0,0.7);
        height: 60px;
        position: absolute;
        width: 100%;
    }
    .logo{
        margin: 0 60px;
        height: 60px;
        font-style: italic;
        font-family: poppins;
        float: left;
        color:rgb(228, 113, 180) ;
        font-size: 35px;
        text-transform: capitalize;
        font-weight: bold;
        padding: 10px 10px;
    }
    .menu-area {
        float: right;
        list-style: none;
        margin: 20px;
    }
    .menu-area li {
        display: inline-block;
        margin: 0 5px;
    }
    .menu-area li a {
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        letter-spacing: 2px;
    }
    .menu-area li a:hover{
        color: yellow
    }
    .banner-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .banner-text h2{
        color: rgb(230, 47, 147);
        font-size: 55px;
        margin: 0;
            }
    .banner-text p{
        color: rgb(187, 179, 145);
        font-size: 18px;
        margin: 0;
        font-weight: bold;
    }  
    .btn{
        display: inline-block;
        margin-top: 5%;
        background: transparent;
        border: 0;
        font-size: 20px;
        text-transform: uppercase;
        border: 3px solid rgb(224, 218, 218);
        padding: 10px 25px;
        color: rgb(245, 235, 235);
        border-radius: 25px;
    }      
    